<header class="2 bg-[url('/images/minimal-1.jpg')] min-h-90 bg-cover bg-center flex flex-col">
    <div class="uppercase flex items-center justify-between">
       
        <nav class="space-x-9">
            <a href=""> Nav 1 </a>
            <a href=""> Nav 2 </a>
            <a href=""> Nav 3 </a>
        </nav>

        <div class="shrink-0">
            <h2 class="font-serif text-center text-white block"> 
                <a href="#"> LOGO </a> 
            </h2>
        </div>

        <nav class="space-x-9">
            <a href=""> Nav 1 </a>
            <a href=""> Nav 2 </a>
            <a href=""> Nav 3 </a>
        </nav>
    </div>

    <div class="flex flex-col flex-grow items-center justify-center text-white ">
        <h1 class="text-8xl uppercase"> This is a heading </h1>
        <h3 class="text-xl"> This is a subheading </h3>
    </div>

</header>

